/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

p{
    color: #525560;
    line-height: 25.6px;
    font-weight: 400;
}

.container{
    padding: 0 110px;
}

.title{
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.title .line{
    width: 70px;
    height: 2px;
    background-color: #1D2130;
    margin-right: 25px;
}

.title p{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 18.75px;
    text-transform: uppercase;;
    color: #1D2130;
}

.text{
    width: 85%;
    padding-left: 95px;
}

.text h2{
    font-size: 48px;
    line-height: 57.6px;
    font-weight: 700px;
}

button {
    font-size: 16px;
    padding: 16px 32px;
    background-color: black;
    border-radius: 4px;
    color: white;
}

/******************************* HEADER *****************************/
header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo{
    font-size: 28px;
    font-weight: 700;
}

.humburger{
    display: none;
}

.nav__bar ul{
    display: flex;
    align-items: center;
}

.nav__bar ul li .nav__link{
    display: block;
    color: black;
    font-size: 16px;
    padding: 10px 25px;
    transition: all .5s;
    font-weight: 500;
    color: #525560;
}

.nav__bar ul li .nav__link.active{
    color: black;
}

.nav__bar ul li .nav__btn button{
    font-size: 16px;
    padding: 12px 32px;
    background-color: black;
    border-radius: 4px;
    color: white;
}



/******************************* BANNER *****************************/
.banner{
    background: url(../img/BG_Image.png) no-repeat;
    background-size: cover;
    height: 735px;
    width: 100%;
    position: relative;
}

.banner p{
    color: white;
}

.banner__header p{
    position: absolute;
    width: 50%;
    color: white;
    top: 125px;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
}

.banner__body{
    position: absolute;
    top: 400px;
    display: flex;
    justify-content: center;
    color: white;
}

.banner__body a{
    padding: 16px 32px;
    background-color: white;
    color: black;
}

.banner__body .banner__video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 36px;
}

.banner__video i{
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    font-size: 10px;
    background-color: white;
    color: black;
    text-align: center;
    margin-right: 8px;
}


.banner__footer{
    position: absolute;
    width: 90%;
    color: white;
    display: flex;
    align-items: center;
    top: 650px;
}
.banner__footer .line{
    width: 62vw;
    height: 1px;
    background-color: #E5E5E5;
    margin: 0 20px;
}

/* *********************************ABOUT US **************************************/
.aboutUs{
    padding: 70px 0;
}
.aboutUs__content{
    display: flex;
}

.aboutUs__title{
    display: flex;
    align-items: center;
    padding: 60px 0 50px;
}

.aboutUs__text h2{
    margin-bottom: 40px;
}

.aboutUs__text p{
    margin-bottom: 70px;
}

.aboutUs__text button{
    background-color: #70C174;
    border: none;
    cursor: pointer;
}

.aboutUs__left{
    width: 70%;
}

.aboutUs__right{
    width: 40%;
    height: 578.34px;
    position: relative;
}

.aboutUs__right img{
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.aboutUs__right .right__icon{
    position: absolute;
    width: 50%;
    top: 45%;
    left: 50%;
}

.right__icon i{
    width: 64px;
    height: 64px;
    line-height: 64px;
    align-items: center;
    text-align: center;
    border-radius: 100rem;
    background-color: white;

}

.aboutUs__title .line__bottom{
    width: 73vw;
    height: 1px;
    background-color: #E5E5E5;
}

.aboutUs__row p{
    padding-right: 35px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 2px;
}

.aboutUs__row .aboutUs__title{
    padding-bottom: 35px;
}

.aboutUs__logo{
    display: flex;
    justify-content: space-between;
}

/*********************************** WHAT WE DO*****************************/
.wwd{
    background-color: #EFF7F2;
    padding: 70px 0;
}
.wwd__content{
    display: flex;
}

.wwd__left{
    width: 70%;
}
.wwd__right{
    padding-top: 70px;
    width: 40%;
}

.wwd__right img{
    object-fit: cover;
    width: 100%;

}
.wwd__text p:first-of-type{
    padding-bottom: 25px;
    padding-top: 20px;
}

.wwd__item{
    display: flex;
}

.wwd__item:last-child  p:last-child{
    padding: 0;
}

.wwd__par p:first-child{
    padding: 0;
}

.wwd__icon i{
    font-size: 15px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 2px;
    color: #DDFFDF;
    background-color: #83D187;
    text-align: center;
}

.wwd__overlay{
    width: 80%;
    padding-left: 20px;
    border-left: 1px solid #E5E5E5;
}

.wwd__item p:first-child{
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    padding-bottom: 10px;
}

.wwd__item p:last-child{
    padding-bottom: 28px;
}

.wwd__item .wwd__par{
    padding-left: 20px;
}

/*********************************** PROJECT*****************************/
.project{
    padding: 70px 0;
}

.project__text{
    width: 65%;
    padding-bottom: 50px;
}

.project__content{
    display: flex;
    grid-template-columns: repeat(3, fr);
    gap: 30px;
}

.project__item{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.project__item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project__overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(11, 7, 6, .5);
}

.project__par{
    position: absolute;
    top: 90px;
    left: 0;
}

.project__par h3{
    color: white;
    padding: 0 40px;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
}

.project__par p{
    padding: 15px 40px 0;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 16px;
}

.project__button{
    position: absolute;
    bottom: 0;
    left: 0;
}

.project__button{
    padding: 40px;
}

.project__button button{
    color: black;
    background-color: white;
    border: none;
}

/*********************************** STATS*****************************/
.stats{
    background-color: #0B0706;
    padding: 70px 0;
}

.stats__content{
    display: flex;
}

.stats__title{
    width: 60%;
}

.stats__title h2{
    width: 80%;
}

.stats__chart{
    width: 40%;
}

.stats__title{
    padding: 30px 0;
}

.stats__title h2{
    color: white;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    margin-bottom: 20px;
}

.stats__title .title-text{
    color: #FFFFFF;
    opacity: .5;
    margin-bottom: 20px;
}


.stats__top,
.stats__bottom{
    display: flex;
    align-items: center;
}

.stats__item{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.stats__item p{
    color: white;
    font-weight: 500;
    line-height: 25.6px;
}

.stats__item .square{
    width: 15px;
    height: 15px;
    border-radius: 2px;
    margin-right: 10px;
}
.stats__top .stats__item:first-child .square{
    background-color: rgb(190, 243, 192);
}
.stats__top .stats__item:nth-child(2) .square{
    background-color: rgb(172, 148, 241);
}
.stats__top .stats__item:last-child .square{
    background-color: rgb(255, 240, 202);
}
.stats__bottom .stats__item:first-child .square{
    background-color: rgb(249, 207, 100);
}
.stats__bottom .stats__item:last-child .square{
    background-color: rgb(243, 143, 191);
}


#doughnut{
    position: relative;
}

.chart{
    margin-left: 100px;
    position: relative;
}

.chart p{
    color: white;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*********************************** STATS*****************************/
.cta{
    padding: 70px 0;
}

.cta__item{
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.cta__item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cta__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: rgb(11, 7, 6, .5);
    border-radius: 12px;
}

.cta__overlay .cta__text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.cta__overlay .cta__text h2{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
}

.cta__overlay .cta__btn{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.cta__overlay .cta__btn button:first-child{
    background-color: #70C174;
    border: none;
    margin-right: 20px;
}
.cta__overlay .cta__btn button:last-child{
    font-weight: 500;
    color: black;
    background-color: #FFFFFF;
    border: none;
}

/***********************************BLOG*****************************/
.blog{
    padding: 70px 0;
}

.blog__title p{
    font-size: 40px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: normal;
    color: #1D2130;
    margin-right: 25px;
    text-transform: none;
}

.blog__title .line{
    width: 63vw;
    height: 1px;
    background-color: #E5E5E5;
}

.blog__content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.blog__item img{
    width: 100%;
    object-fit: cover;
}

.blog__item p:first-child{
    color: #1C1D28;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.blog__item p:last-child{
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
}

/***********************************EVENTS*****************************/
.events{
    padding: 70px 0;
}

.events__title p{
    font-size: 40px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: normal;
    color: #1D2130;
    margin-right: 25px;
    text-transform: none;
}

.events__title .line{
    width: 63vw;
    height: 1px;
    background-color: #E5E5E5;
}

.events__content{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.events__item{
    width: 49%;
    background-color: #BEF3C0;
    border-radius: 8px;
}

.events__text{
    display: flex;
    padding: 35px;
}

.events__text .title{
    display: inline-block;
    padding: 0;
    display: flex;
    margin-left: 18px;
}

.events__text .title h3{
    display: block;
}

.events__date p:first-child{
    font-size: 48px;
    font-weight: 500;
    line-height: 57.6px;
    color: #1D2130;
}

.events__date p:last-child{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 18.75px;
    color: #1D2130;
}

.events__body{
    padding-top: 10px;
    padding-left: 10px;
    width: 70%;
}

.events__body .line{
    height: 2px;
    color: #1D2130;
    width: 4vw;
    margin-left: 20px;
}

.events__body h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
}

.events__button{
    width: 20%;
    text-align: center;
    transform: translateY(25px);
}

.events__button button{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    padding: 0;
    border: none;
    background-color: white;
    
}

.events__button button i{
    color: black;
    font-size: 18px;
}

/***********************************FOOTER*****************************/
footer{
    background-color: #0B0706;
    padding: 70px 0;
}

.footer__content{
    display: flex;
    justify-content: space-between;
}

.footer__logo{
    width: 20%;
}

.footer__logo P{
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.footer__contact{
    display: flex;
    width: 45%;
}

.footer__contact li a{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 300;
    line-height: 22.4px;
}

.footer__contact li{
    margin-bottom: 20px;
}

.footer__contact li:first-child a{
    color: white;
    font-size: 1rem;
    line-height: 25.6px;
    font-weight: 700;
}

.footer__ourteam,
.footer__more,
.footer__connect{
    width: 30%;
}

.footer__form{
    width: 50%;
}

.footer__form p{
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: white;
    width: 80%;
}

.footer__form form{
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    margin-top: 30px;
}

.footer__form input{
    flex: 1 1 auto;
    background-color: black;
    border: 1px solid #EBF0F94D;
    padding: 20px;
    border-radius: 8px 0 0 8px;
    color: #EBF0F94D;
}


.footer__form button{
    border: none;
    color: black;
    border-radius: 0 8px 8px 0;
    background-color: white;
}



/**************************************** RESPONSIVE*******************************************/
@media screen and (max-width: 1320px) {
    /* HEADER  */
    header{
        padding: 0 50px; 
    }
    .container{
        padding: 0 50px; 
    }

    /* BANNER */
    .banner__header p{
        width: 65%;
    }
    .banner__footer .line {
        width: 56vw;
    }

    /* CTA */
    .cta__overlay .cta__text{
        width: 70%;
        text-align: center;
    }
}

@media screen and (max-width: 1200px){
    /* ABOUT US */
    .aboutUs__right .right__icon {
        top: 35%;
        left: 45%;
    }

    /* PROJECT */
    .project__content{
        display: block;
    }
    .project__item {
        width: 50%;
        margin: auto;
        margin-bottom: 20px;
    }
    .project__text{
        width: 90%;
    }

    /* STATS */
    .stats__content{
        display: block;
    }
    .stats__title{
        width: 100%;
    }
    .stats__title h2{
        width: 100%;
    }
    .stats__chart {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1100px) {
    /* HEADER  */
    header{
        padding: 0 30px;
    }
    .container{
        padding: 0 30px;
    }
    /* BANNER */
    .banner__header p{
        font-size: 6vw;
    }
    .banner__footer .line {
        width: 49vw;
    }

    /* ABOUT US */
    .title__abs{
        display: block;
    }
    .title__abs.line__bottom{
        width: 90vw;
    }
    
    
    /* WHAT WE DO */
    .wwd__content{
        display: block;
    }
    .wwd__left{
        width: 100%;
    }
    .wwd__right{
        margin-left: auto;
        margin-right: auto;
        width: 50%
    }

    /* PROJECT */
    .project__text{
        width: 90%;
    }
    .cta__overlay .cta__text h2{
        font-size: 5vw;
    }

    /* CTA */
    .cta__overlay .cta__text{
        top: 30%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    /* BLOG */
    .blog__title {
        display: block;
    }
    .blog__title .line{
        width: 90vw;
    }

    /* EVENTS */
    .events__title{
        display: block;
    }

    .events__title .line{
        width: 90vw;
    }

    .events__content{
        display: block;
    }

    .events__item{
        width: 100%;
    }

    .events__item:first-child{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 900px) {
    /* HEADER  */
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        margin: 6px 0;
        background-color: rgb(0, 0, 0);
    }
    .nav__bar{
        position: absolute;
        z-index: 1;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        height: 0;
        background: rgba(0, 0, 0, .9);
        transition: .2s;
        overflow: hidden;
    }
    .nav__bar.active{
        height: 735px;
    }
    .nav__bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0;
        text-align: center;
        transition: all .5s;
        opacity: 0d;
    }
    .nav__bar ul li .nav__link{
        color: white;
        margin-bottom: 10px;
    }
    .nav__bar ul li .nav__btn button{
        background-color: white;
        color: black    ;
    }
    .nav__bar.active ul{
        opacity: 1;
    }

    /* BANNER */
    .banner__footer p{
        font-size: 1.5vw;
    }

    /* ABOUT US */
    .aboutUs__content{
        display: block;
    }
    .aboutUs__left{
        width: 100%;
    }
    .aboutUs__text p {
        margin-bottom: 40px;
    }
    .aboutUs__text{
        padding-bottom: 30px;
    }
    .aboutUs__right{
        width: 60%;
        margin: auto;
    }
    .aboutUs__right .right__icon{
        top: 50%;
        left: 50%;
    }

    /* ABOUT US */
    .aboutUs__logo {
        display: block;
    }

    /* PROJECT */
    .project__text h2{
        font-size: 5vw;
    }

    /* CTA */
    .cta__overlay .cta__text h2{
        line-height: 5vw;
    }

    /* BLOG */
    .blog{
        padding: 20px 0 0;
    }
    .blog__content{
        display: inline-block;
        width: 100%;
        margin: auto;
    }

    .blog__item img{
        object-fit: cover;
    }

    .blog__item p:first-child{
        padding: 0 ;
    }
    
    .blog__overlay{
        padding-bottom: 30px;
    }

    /* FOOTER */
    .footer__content{
        display: block;
        /* width: 100%; */
    }
    .footer__logo,
    .footer__contact,
    .footer__form{
        width: 100%;
    }

    .footer__logo p{
        padding-bottom: 25px;
    }

    .footer__contact{
        justify-content: space-between;
    }

    .footer__form p{
        width: 100%;
    }
    .footer__form form{
        margin-top: 10px;
    }

@media screen and (max-width: 768px){
    /* PROJECT */
    .project__par p{
        display: none;
    }
    .project__text h2{
        line-height: 6vw;
    }

    /* STATS */
    .stats__top, .stats__bottom{
        display: block;
    }

    /* CTA */
    .cta__btn{
        display: flex;
        justify-content: center;
    }
    .cta__overlay .cta__btn button{
        font-size: 2vw;
        padding: 8px 16px;
    }
}


@media screen and (max-width: 576px){
    /* BANNER */
    .banner__header p{
        font-size: 6.5vw;
        line-height: 10vw;
    }
    .banner__footer p{
        font-size: 14px;
    }
    .banner__footer{
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .banner__footer .line {
        width: 85%;
    }

    /* ABOUT US */
    .aboutUs__right{
        width: 99%;
        margin: auto;
    }

    /* ABOUT US */
    .aboutUs__right .right__icon{
        top: 50%;
        left: 50%;
    }

    /* PROJECT */
    .project__par{
        top: 30px;
    }
    .project__item{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .project__text{
        width: 100%;
        padding-bottom: 20px;
    }

    .project__title{
        padding-bottom: 20px;
    }
    
} 